Computacao-Evolucionaria/Projetos/.ipynb_checkpoints/Exercicio-1-checkpoint.ipynb
Computacao-Evolucionaria/Projetos/.idea/modules.xml
Computacao-Evolucionaria/Projetos/.idea/Projetos.iml
Computacao-Evolucionaria/Projetos/.idea/workspace.xml
Computacao-Evolucionaria/Projetos/.idea/.name
Computacao-Evolucionaria/Projetos/.idea/CE-Projetos.iml
Inteligencia-Artificial/IA-Projetos/.idea/IA-Projetos.iml
Inteligencia-Artificial/IA-Projetos/.idea/modules.xml
Inteligencia-Artificial/IA-Projetos/.idea/workspace.xml
Inteligencia-Artificial/IA-Projetos/.ipynb_checkpoints/IA - Exercício Arvore-checkpoint.ipynb