Computacao-Evolucionaria/Projetos/.ipynb_checkpoints/Exercicio-1-checkpoint.ipynb
Computacao-Evolucionaria/Projetos/.idea/modules.xml
Computacao-Evolucionaria/Projetos/.idea/Projetos.iml
Computacao-Evolucionaria/Projetos/.idea/workspace.xml